$text: #ffffff;
$background: #23293C;
$background2: #171c29;
$background3: #2A3454;
$grey1: #212121;
$grey2: #322e2e;
$grey3: #575656;
$primary: #000000;
$secondary: #000000;
$accent: #000000;
$outline: #000000;