@use "/src/_variables" as v;
@use "sass:color" as c;

* {
  color: #ffffff;
  color: v.$text;
  box-sizing: border-box;
}

#root {
  background-color: #23293C;
  background-color: v.$background;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.header {
  box-shadow: 0px 4px 4px 0px #000000;
  width: 100%;
  height: 3.75rem;

  display: flex;
  flex-direction: row;
  padding: 0 0.625rem;
  &__container {
    width: 100%;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.625rem;
  }
  // logo
  &__logo-wrapper {
    display: flex;
    justify-self: start;

    justify-content: center;
    align-items: center;
    padding: 0rem 0.625rem;

    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
  }

  // navbar
  &__navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    &-list {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;

      gap: 0.625rem;
      justify-content: center;
      align-items: center;    
      padding: 0;
      li > a {
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5rem;
      }
    }
  }

  // dropdown hamburger menu
  &__dropdown-menu-wrapper {
    display: flex;
    justify-self: end;
    height: 100%;
    aspect-ratio: 1;

    justify-content: center;
    align-items: center;

    font-size: 3.5rem;
  }
}

// hero section

.hero {
width: 100%;
max-width: 67.5rem;
height: 35rem;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
  
  &__container {
    max-width: 63rem;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: max-content;
  }

  &__logo-container {
    position: relative;
    width: 100%;
    max-width: 20rem;
    max-height: 20rem;
    aspect-ratio: 1;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      &.hero__logo-snake {
        z-index: 3;
      }
      &.hero__logo-cog1 {
        z-index: 2;
      }
      &.hero__logo-cog2 {
        z-index: 1;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-heading {
      margin: 0;
      padding: 0;
  
      color: v.$text;
      font-family: Tomorrow;
      font-size: 72px;
      font-weight: 700;
      line-height: 86px;
      letter-spacing: 0px;
      text-align: left;
    }
    &-underheading {
      padding: 0rem;
      margin: 0rem;
  
      color: rgba(255, 255, 255, 0.5);
      font-family: Inter;
      font-size: 36px;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: 0px;
      text-align: left;
    }  
    &-button-wrapper {
      position: relative;
      display: flex;
      height: 100%;
      
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      z-index: 0;
    }
  }
}

.gradient-button {  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  background-color: v.$grey1;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 1000px;
  
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    margin: -0.2rem;    
    border-radius: 1000px;
    background: conic-gradient(
      #FF0000 60deg,
      #FFFF00 ,
      #FF00ED 120deg,
      #FF00ED 240deg,
      #2300FF ,
      #FF0000 300deg
    );
    z-index: -1;
  }

  &:hover {
    cursor: pointer;
  }
}

// skills

.skills {
  display: flex;
  max-width: 67.5rem;
  width: 100%;
  height: 28rem;

  padding: 0.625rem;
  justify-content: space-between;

  &__text-container {
    display: grid;
    grid-template-columns: auto, 1fr;
  }
  &__text {
    display: flex;
    flex-direction: column;
    max-width: 18rem;

    padding: 0.625rem;
    gap: 3rem;
    &-title {
      margin: 0rem;
      width: 100%;
      
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 2rem;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0px;
      text-align: left;
    }
    &-description {
      margin: 0rem;
      width: 100%;

      padding: 0rem;

      color: c.scale(v.$text, $lightness: -60%);
      font-family: Inter;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      }
  }


  &__cards {
    display: flex;
    width: 80%; // hacky way to make description take more space by default
    height: 100%;

    flex-direction: column;
    padding: 0.75rem;
    gap: 0.75rem;

    background-color: v.$grey2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    &-tabs {
      display: flex;
      width: 100%;
      margin: 0;
      
      list-style: none;
      padding: 0.25rem 0.5rem;
      gap: 1rem;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
      border-radius: 0.3125rem;
      background-color: v.$grey3;
      &-tab {
        width: 100%;
        
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 0.3125rem;
        
        &:hover {
          background-color: c.scale($color: v.$grey3, $lightness: -40%);
          cursor: pointer;
        }

        &--active {
          background-color: v.$grey1;
          &:hover {
            background-color: v.$grey1;
            cursor: auto;
          }
        }
      }
    }
    &-container {
      display: flex;
      width: 100%;
      height: 100%;

      flex-direction: column;
      gap: 0;
      overflow-y: scroll;      

      background-color: v.$background2;
      box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      
      &::-webkit-scrollbar
      {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        background-color: v.$background3;
      }
    }
    &-list {
      width: 100%;
      margin: 0;
      row-gap: 1.5rem;
      padding: 1rem;
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: auto;

      list-style: none;
      &-item {
        display: flex;
        justify-content: center;        
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width:61rem) {
  .skills {
    height: fit-content;
    flex-direction: column;
    align-items: center;
    &__text-container {
      width: 100%;
      justify-content: center;
      
    }
    &__text {
      width: 100%;
      gap: 0;
      padding: 1rem;
      max-width: none;
    }
    &__cards {
      width: 100%;
    }
    
  }
}
@media screen and (max-width:47rem) {
  .skills {
    &__cards {
      &-list {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@media screen and (max-width:33rem) {
  .skills {
    &__cards {
      &-tabs {
        flex-direction: column;
        gap: 0.25rem;
      }
      &-list {
        grid-template-columns: 1fr;
      }
    }
  }
}

.skillcard {
  display: flex;
  width: 14rem;
  height: 8rem;
  margin: 0 0.25rem;

  flex-direction: column;
  gap: 0.25rem;
  padding: 0.625rem;

  background-color: v.$background3;

  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  background: rgb(42, 52, 84);

  &__label {
    display: flex;

    flex-direction: row;
    align-items: center;

    &-icon {
      display: flex;
      height: 2rem;
      aspect-ratio: 1;
      margin: 0rem;

      justify-content: center;
      align-items: center;
      padding: 0rem;

      &-image {
        padding: 0rem;
        margin: 0rem;
        height: 100%;
        width: 100%;
      }
    }
    &-title {
      margin: 0rem;

      padding: 0.25rem;

      color: v.$text;
      font-family: Inter;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
    }
  }
  &__text {
    margin: 0rem;

    padding: 0 0.25rem;

    color: c.scale($color: v.$text, $alpha: -60%);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0px;
    text-align: left;
  }
}