server {
    listen 80;
    listen 443 ssl;

    ssl_certificate /etc/nginx/ssl/certs/portfoliosis.crt;
    ssl_certificate_key /etc/nginx/ssl/certs/portfoliosis.key;
    
    root /usr/share/nginx/portfoliosis;
    index index.html;
    
    location = / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass ${BACKEND_API_URL};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    # TODO: implement ssl for backend
}